<div fxLayout="row">
  <div fxFlex="50%" fxLayout="column">
    <mat-list>
      <mat-list-item>
        <span class="label"
          >Firebase {{ isConnected ? "connected" : "disconnected" }}</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button
          mat-button
          color="primary"
          class="full-w"
          (click)="removeItems()"
        >
          Clear history
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex="50%" fxLayout="column" class="scrollable">
    <mat-list>
      <mat-list-item>
        <span class="label">Workout history</span>
      </mat-list-item>
      <mat-list-item *ngFor="let item of listItems">
        Distance: {{ item.distance }}<br />
        Date: {{ item.date }}<br />
        Calories: {{ item.calories }}<br />
        Duration: {{ item.duration }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
