<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let tab of tabs"
    (click)="activeTab = tab.link"
    [active]="activeTab == tab.link"
    [routerLink]="tab.link"
    >{{ tab.name }}</a
  >
  <mat-card>
    <mat-card-content>
      <div *ngIf="angularFireAuth.authState | async; else signInView">
        <button mat-raised-button color="primary" (click)="logOut()">
          Log out
        </button>
      </div>
      <ng-template #signInView>
        <button mat-raised-button color="accent" appGoogleSso>
          Sign in with Google
        </button>
      </ng-template>
    </mat-card-content>
  </mat-card>
</nav>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
